/* §§ Reset di tutti gli  stili */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f9;
  font-family: "Roboto", sans-serif;
}

/* ## Sezione dell'header */
header {
  height: 75px;
  background-color: #ffffff;
}

#main-logo {
  padding-left: 1rem;
  margin: 0.5rem 0;
}

.title {
  font-weight: bold;
  vertical-align: middle;
  padding-left: 0.8rem;
  padding-bottom: 3rem;
  display: inline-block;
}

/* ## Contenitore */
main {
  width: 80%;
  max-height: 90%;
  margin: 2rem auto 0;
  background-color: #ffffff;
  border: 1px solid red;
  border-radius: 10px;
}

/* ## Barra dei tasti */
.options-bar {
  height: 4rem;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background: none;
  box-shadow: none;
  vertical-align: middle;
  font-family: "Roboto", san-serif;
}

.blue-btn {
  background-color: #48adf1;
  color: #ffffff;
}

.white-btn {
  background-color: #ffffff;
  color: lightgrey;
  border: 1px solid lightgrey;
  margin-left: 10px;
}

.padding-left {
  padding-left: 4rem;
}
